{% extends 'base.html.twig' %}

{% block title %}Fiche catégorie{% endblock %}
{#page fiche categorie#}
{% block body %}
<body>
    <h1 class='text-center pt-2 text-white'>Fiche catégorie</h1>

    <div class="row">
            <div class="card mb-3 container">{#mb-3#}
                <h4 class="card-title text-center">{{laCategorie.libelle}}</h4>
                <div class="row">
                    <div class="col-2 d-flex align-items-center">
                        <img style="height: auto; max-width: 200px; display: block;" src="{{laCategorie.image}}" class="avatar mx-auto my-3" alt="image avatar">
                    </div>
                    <div class="col">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{laCategorie.description}}</li>
                        </ul>
                    </div>
                </div>
            </div>
                <a href="{{path('categories')}}" class="btn btn-primary text-center w-25">Revenir à la liste</a>
                <hr>
            <div class="row">
                {% for leContact in laCategorie.contacts %}
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
                    {#{{ include('contact/_cardFicheContact.html.twig')}}#}
                    <div class="card mb-3 container">{#mb-3#}
                        <h4 class="card-title text-center">{{leContact.nom}} {{leContact.prenom}}</h4>
                            <div class="col-2 d-flex align-items-center">
                                <img style="height: auto; max-width: 200px; display: block;" src="{{leContact.avatar}}" class="avatar mx-auto my-3" alt="image avatar">
                            </div>
                            <div class="col">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item cardFs">{{leContact.rue}}</li>
                                    <li class="list-group-item cardFs">{{leContact.cp}}</li>
                                    <li class="list-group-item cardFs">{{leContact.ville}}</li>
                                    <li class="list-group-item cardFs">{{leContact.mail}}</li>
                                    <li class="list-group-item cardFs">
                                        {% if leContact.sexe==0 %}
                                            <span>Homme</span>
                                        {% else %}
                                            <span>Femme</span>
                                        {% endif %}
                                    </li>
                                    <li class="list-group-item cardFs"> 
                                        <a href="{{path('ficheCategorie', {'id': leContact.categorie.id})}}">
                                            {{leContact.categorie.libelle}}
                                        </a>
                                    </li>
                               </ul>
                            </div>
                    </div>
                    <a href="{{path('contacts')}}" class="btn btn-primary text-center w-100">Revenir à la liste</a>
                </div>       
                {% endfor %}
            </div>  
    </div>  
</body>      
{% endblock %}
